################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Task-1/bin/Debug/net8.0
/Task-1/obj
